DATABASE_URL="postgresql://..."   # твоя БД

AUTH_SECRET="любая-длинная-случайная-строка-минимум-32-символа"
AUTH_URL="http://localhost:3000"

# GitHub можно пока оставить пустым если не тестируешь OAuth
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""